:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

/* ================= HEADER ================== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}

.logo-nav {
  color: #000000;
}

.navigation-link,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts {
  color: var(--main-color);
}

/* ================= END HEADER ================== */

/* ================= HERO ================== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.modal-btn {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* ================= END HERO ================== */

/* ================= ABOUT ================== */
.about {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.about-text {
  font-weight: normal;
  line-height: 1.71;
  color: var(--main-color);
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-color);
}

/* ================= END ABOUT ================== */

/* ================= TEAM ================== */
.team-list {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-weight: 500;
  color: var(--secondary-color);
}

.team-list-text {
  font-weight: 400;
  color: var(--main-color);
}
/* ================= END TEAM ================== */

/* ================= FOOTER ================== */
.footer-list-link,
.footer-list-item-link {
  text-decoration: none;
}

.logo-footer {
  color: #ffffff;
}

.footer-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}

.footer-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-list-item-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-link {
  color: #ffffff;
}
/* ================= END FOOTER ================== */

/* ================= PORTFOLIO ================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-list-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font);
}

.portfolio-list-item-btn:hover,
.portfolio-list-item-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-font);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
